mixin subNavItem(text,link)
	li.nav__sub-item
		a.nav__sub-link(href=link) #{text}

mixin navItem(text,link,sub)
	li.nav__item
		if sub
			.nav__inner
				a.nav__link.nav__link--sub(href=link) #{text}
				button.nav__arrow
					+icon('icon-arrow-bottom', 'nav__arrow-icon', '10', '8')
			ul.nav__sub-list
				block
		else
			a.nav__link(href=link) #{text}

nav.nav
	ul.nav__list
		+navItem('О компании', '#', true)
			+subNavItem('Новости', '#')
			+subNavItem('Отзывы', '#')
			+subNavItem('Способы оплаты', '#')
			+subNavItem('Преимущества', '#')
			+subNavItem('Сертификаты', '#')
		+navItem('Интернет магазин', '#', true)
			+subNavItem('Доставка по Спб', '#')
			+subNavItem('Доставка по Москве', '#')
			+subNavItem('Доставка Сбп - Москва', '#')
			+subNavItem('Доставка по России и за рубеж', '#')
			+subNavItem('Доставка Крупногабаритного груза', '#')
			+subNavItem('Доставка в маркетплейсы', '#')
			+subNavItem('Кассовое обслуживание', '#')
			+subNavItem('Хранение и упаковка (фулфилмент)', '#')
			+subNavItem('Виджет расчета доставки', '#')
			+subNavItem('Кросс-докинг', '#')
			+subNavItem('Доставка для офлайн-ритейла по СПБ', '#')
			+subNavItem('Пункты выдачи заказов и постоматы', '#')
		+navItem('Экспресс-доставка', '#', false)
		+navItem('Полезная информация', '#', true)
			+subNavItem('Документы', '#')
			+subNavItem('Личный кабинет и IT интеграция', '#')
			+subNavItem('Часто задаваемые вопросы', '#')
			+subNavItem('Наши партнёры', '#')
			+subNavItem('Новости рынка', '#')
			+subNavItem('Владельцам интернет-магазинов', '#')
		+navItem('Контакты', '#', false)
