section.helpful-information
	.container.gx-110
		.row.gx-40
			.col-6
				h4.helpful-information__headline.section__headline.mb-30 Личный кабинет и IT интеграция
				p.helpful-information__text.section__text.mb-30 После заключения договора Вам предоставляется доступ в личный кабинет в виде логина и пароля. Для пользования ЛК Вам потребуется только доступ в интернет. Перед заключением договора Вы всегда можете запросить тестовый доступ для ознакомления с функционалом, работа в Личном кабинете происходит по защищенному протоколу HTTPS, что делает работу с данными безопасной.
				p.helpful-information__text.section__text.mb-30 Некоторые возможности Личного кабинета:
				ul.helpful-information__list-round.list-round.pb-30
					li.list-round__item
						p.list-round__feautures Инструкции по оформлению заявок, передаче и отслеживанию заказов
					li.list-round__item
						p.list-round__feautures Передача заявок загрузкой реестра xls, вручную или по API
					li.list-round__item
						p.list-round__feautures Оформление заявок на доставку на следующий день по Санкт-Петербургу, Москве, а также между городами
					li.list-round__item
						p.list-round__feautures Оформление срочных заявок по Санкт-Петербург и ЛО
					li.list-round__item
						p.list-round__feautures Оформление заявок на курьерскую доставку а также выдачу заказов в ПВЗ и постоматах по России
					li.list-round__item
						p.list-round__feautures Возможность печати ярлыков и актов приема передачи заказов
					li.list-round__item
						p.list-round__feautures Отслеживание статусов заказов
					li.list-round__item
						p.list-round__feautures История заказов
					li.list-round__item
						p.list-round__feautures Просмотр финансовой отчетности
				p.helpful-information__text.section__text.mb-30 Компания «Е-Логистик» оказывает профессиональные услуги в области ИТ-интеграции. Выработанные нами решения позволяют интернет-магазинам и другим клиентам начать работать более эффективно. ИТ-интеграция направлена на автоматизацию процесса обмена данными между этапами бизнес-процессов. За счет этого сокращается время на обработку документов, осуществляется их формализация и стандартизация. Услуга позволяет организовать высокоэффективный обмен данными между участниками бизнеса, что сокращает затраты на внешний процессинг.
				p.helpful-information__text.section__text.mb-30 Программное обеспечение от «Е-Логистик» производит интеграцию по протоколу HTTP POST средствами XML API. API: Меасофт. Для удобства клиентов предусмотрена возможность интеграции с популярными CMS-системами. Для этого нужно скачать соответствующие модули. На данный момент они доступны для следующих CMS:
				ul.helpful-information__list-round.list-round.pb-30
					li.list-round__item
						p.list-round__feautures 1С-Битрикс
					li.list-round__item
						p.list-round__feautures Prestashop
					li.list-round__item
						p.list-round__feautures Opencart
					li.list-round__item
						p.list-round__feautures ocStore
					li.list-round__item
						p.list-round__feautures Webasyst Shop-Script
					li.list-round__item
						p.list-round__feautures InSales
					li.list-round__item
						p.list-round__feautures CMS: leadvertex
				p.helpful-information__text.section__text Обращаясь к нам, вы получаете оперативное решение задач.
			.col-6
				h4.helpful-information__headline.section__headline.mb-30 Максимум удобства для руководителяи персонала
				p.helpful-information__text.section__text.mb-30 Услуги по ИТ-интеграции — это серьёзный вклад в повышение общей производительности труда коллектива и КПД каждого работника в отдельности. Информация по всем товарным позициям, предусмотренным в ассортименте интернет-магазина, собирается на единой платформе. В каком бы специализированном ПО ни проводились операции, вы всегда будете иметь доступ к актуальным данным. Это поможет многократно повысить ваш уровень сервиса, избавить персонал от излишних процедур, сократить документооборот и оперативно реагировать на рыночные изменения.
				h4.helpful-information__headline.section__headline.mb-30 ИТ-интеграция имеет массу положительных сторон, таких как:
				ul.helpful-information__list-round.list-round.pb-30
					li.list-round__item
						p.list-round__feautures контроль над ассортиментом и складскими запасами
					li.list-round__item
						p.list-round__feautures автоматическое обновление сведений об остатках товаров
					li.list-round__item
						p.list-round__feautures перевод всех заказов из информационной базы в систему 1С и, наоборот, в режиме реального времени
					li.list-round__item
						p.list-round__feautures учёт каждого покупателя, достоверность и прозрачности всех собранных данных
					li.list-round__item
						p.list-round__feautures ускорение бизнес-процессов в целом, повышение «гибкости» интернет-магазина и его «способности к выживанию» в постоянно меняющихся условиях
section.helpful-code
	.container.gx-110
		.row.gx-40.gy-30
			.col-12
				.row.gx-40.gy-30
					.col-12
						h4.helpful-information__headline.section__headline.mb-30 Базовый вариант
						p.helpful-information__note Самый распространенный вид
					.col-6
						p.helpful-information__text.section__text Для установки базового калькулятора необходимо скопировать следующий код.
					.col-6
						.helpful-information__code.code
							code.delivery-calculation__code-text.code__text #{'<span id="bxid60017218" title="Видеоролик" class="bxhtmled-surrogate bxhtmled-video-surrogate" style="min-width:100px; max-width:100px; min-height:320px; max-height:320px"><img title="Видеоролик" id="bxid603167491" class="bxhtmled-surrogate-dd" src="/bitrix/images/1.gif"/><span class="bxhtmled-surrogate-inner"><span class="bxhtmled-video-icon"></span><span class="bxhtmled-comp-lable" spellcheck=false>Видеоролик</span></span></span>'}
					.col-6
						p.helpful-information__text.section__text Заменить город откуда (после startCity= указать значение) происходит отправление на свой и установить его себе на сайт в необходимое место. Город (в данном случае Москва) необходимо выбирать из списка доступных. Самый простой способ скопировать город из поля "Куда отправляете?" на странице нашего калькулятора #[a(href="#") https://e-logs.ru/raschyot-stoimosti-dostavki] (#[a(href="#") пример]) Например для того что бы изменить город отправки на Екатеринбург.
					.col-6
						.helpful-information__code.code
							code.delivery-calculation__code-text.code__text #{'<span id="bxid869264161" title="Видеоролик" class="bxhtmled-surrogate bxhtmled-video-surrogate" style="min-width:100px; max-width:100px; min-height:320px; max-height:320px"><img title="Видеоролик" id="bxid136822510" class="bxhtmled-surrogate-dd" src="/bitrix/images/1.gif"/><span class="bxhtmled-surrogate-inner"><span class="bxhtmled-video-icon"></span><span class="bxhtmled-comp-lable" spellcheck=false>Видеоролик</span></span></span>'}
			.col-12
				.row.gx-40.gy-30
					.col-12
						h4.helpful-information__headline.section__headline.mb-30 Продвинутый вариант
						p.helpful-information__note Используются базовые навыки программирования
					.col-6
						p.helpful-information__text.section__text.mb-30 Помимо города отправления существуют так же параметры д-ш-в, вес и оценочная стоимость посылки. Данные параметры можно указать автоматически (например в интернет магазинах в карточке товара, при условии что данные параметры заведены в базе данных магазина) передав их в URL виджета в качестве GET параметров, избавив клиента от заполнения полей вручную.
						p.helpful-information__text.section__text Параметры, соответственно: #[strong weight] - вес, #[strong width] - ширина, #[strong height] - высота, #[strong length] - длина, #[strong sum] - сумма
					.col-6
						.helpful-information__code.code
							code.delivery-calculation__code-text.code__text #{'<span id="bxid426147171" title="Видеоролик" class="bxhtmled-surrogate bxhtmled-video-surrogate" style="min-width:100px; max-width:100px; min-height:320px; max-height:320px"><img title="Видеоролик" id="bxid330598367" class="bxhtmled-surrogate-dd" src="/bitrix/images/1.gif"/><span class="bxhtmled-surrogate-inner"><span class="bxhtmled-video-icon"></span><span class="bxhtmled-comp-lable" spellcheck=false>Видеоролик</span></span></span>'}
			.col-12
				.row.gx-40.gy-30
					.col-12
						h4.helpful-information__headline.section__headline.mb-30 Автоматический вариант
						p.helpful-information__note Используются продвинутые навыки программирования
					.col-6
						p.helpful-information__text.section__text.mb-30 Автоматический расчет ничем не отличается от продвинутого из пункта №2, за исключением того, что необходимо добавить еще 2 GET параметра в URL, такие как endCity - город куда необходимо отправить посылку и shown, который говорит о том, что все параметры заполнены и можно произвести автоматический расчет доставки.
						p.helpful-information__text.section__text Стоит отметить, что город "куда" необходимо заполнять так же в строгом соответствии со списком городов, который доступен в основном калькуляторе.
					.col-6
						.helpful-information__code.code
							code.delivery-calculation__code-text.code__text #{'<span id="bxid595624165" title="Видеоролик" class="bxhtmled-surrogate bxhtmled-video-surrogate" style="min-width:100px; max-width:100px; min-height:320px; max-height:320px"><img title="Видеоролик" id="bxid845956573" class="bxhtmled-surrogate-dd" src="/bitrix/images/1.gif"/><span class="bxhtmled-surrogate-inner"><span class="bxhtmled-video-icon"></span><span class="bxhtmled-comp-lable" spellcheck=false>Видеоролик</span></span></span>'}
